
body {
  text-align: left;
  background-color: #ccccff;
  padding: 10px;
  color: #404040;
}
h1 {
  text-align: center;
}
a {
  color: #ccccff;
}
ol {
  padding-left: 400px;
}
.sidebar {
  width: 275px;
  height: 2500px;
  float: left;
  padding: 15px;
  margin: 25px;
  background-color: #9900cc;
  color: #ccccff;
  text-align: left;
}
.list {
  display: none;
}
